Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
  "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
  "src/**/*.{ts,js}": [
      "prettier --write",
      "tslint --fix",
      "git add"
  ],
}

Bump CP version: v2.31.0 - indicators
  package.json
Due: none

Bump Cshop version: v4.47.0 - indicators
  package.json
Due: none

yarn.lock
  yarn.lock
Due: none

[Offcanvas Navigation] Fixes mageUrl.build chain
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Added dependency to commons for contact page
  src/requirejs-config.js
Due: prettier --write, tslint --fix

Styling for search results page
  src/Smile_ElasticsuiteCms/templates/cms_page_result.phtml
  src/Smile_ElasticsuiteCms/templates/cms_page_suggest.phtml
  src/Smile_ElasticsuiteCms/templates/headline.phtml
  src/Smile_ElasticsuiteCms/templates/products_result.phtml
  src/Smile_ElasticsuiteCms/templates/switcher.phtml
  src/bundle.scss
  src/components/headline/mixin.scss
  src/components/search-results-cms/index.ts
  src/components/search-results-cms/search-results-cms.scss
  src/components/search-results-switcher/index.ts
  src/components/search-results-switcher/search-results-switcher.scss
  src/components/search-results-switcher/search-results-switcher.ts
  src/components/searchresults-switcher/_searchresults-switcher.scss
  src/components/tabs/tabs.scss
  src/config/colors.scss
  src/config/variables.scss
  src/customizations/searchresults-switcher/searchresults-switcher.ts
  src/entries/category.ts
  src/vendors/include-media.scss
  src/vendors/swiper.scss
  src/web/images/icons/cms/article.svg
Due: stylelint --fix, prettier --write, tslint --fix

Remove scrollbar from minicart if it's not needed
  src/components/minicart/minicart.scss
Due: stylelint --fix

Changed strategy of generating related/crossell/upsell carousels to use product ids
  src/Magento_Catalog/templates/product/list/items.phtml
Due: none

Refactor side nav
  src/bundle.scss
  src/components/side-nav/index.ts
  src/components/side-nav/side-nav.scss
  src/customizations/side-nav/_side-nav.scss
  src/entries/category.ts
Due: stylelint --fix, prettier --write, tslint --fix

Move side-nav entry to proper place
  src/entries/category.ts
Due: prettier --write, tslint --fix

[Offcanvas nav] Back to original endpoint for offcanvas navigation
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Add improvements for navigation component to easier styling it in child themes
  src/MageSuite_Navigation/templates/main/bar.phtml
  src/MageSuite_Navigation/templates/main/flyout.phtml
  src/MageSuite_Navigation/templates/main/list.phtml
  src/components/navigation/navigation-mega-dropdown.ts
  src/components/navigation/navigation.scss
  src/components/navigation/navigation.ts
  src/components/navigation/product.twig
Due: stylelint --fix, prettier --write, tslint --fix

[Minicart Product] Hotfix: restores configurable products' option labels
  src/Magento_Checkout/web/template/minicart/item/default.html
Due: none

PDP Gallery - fix for aspect ratio calculation for placeholder
  src/Magento_Catalog/templates/product/view/gallery.phtml
Due: none

Allow linter to push empty hooks
  src/components/badge/hook.scss
  src/components/button/hook.scss
  src/components/field/hook.scss
  src/components/headline/hook.scss
  src/components/pseudoicon/hook.scss
  src/components/qty-counter/hook.scss
  src/components/teaser/hooks.scss
  src/components/typography/hook.scss
Due: stylelint --fix

Add missing switcher icon
  src/web/images/icons/dropdown-switcher/icon-trigger.svg
Due: none

Fix offcanvas navigation URL generation
  src/Magento_Store/templates/switch/languages.phtml
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Adjust font sizing on product page
  src/MageSuite_Navigation/templates/main/bar.phtml
  src/components/product-details/main/main.scss
  src/components/product-details/product-details.scss
Due: stylelint --fix

Unify data on badges between ones on product tile & product page
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Catalog/templates/product/view/badges/sale.phtml
  src/components/badge/mixin.scss
Due: stylelint --fix

Adjust footer links
  src/components/footer/footer-links.scss
Due: stylelint --fix

override repertus packastation templates
  src/Repertus_Packstation/layout/checkout_index_index.xml
  src/Repertus_Packstation/layout/customer_address_form.xml
  src/Repertus_Packstation/templates/widget/packstation.phtml
  src/Repertus_Packstation/web/js/repertus-packstation.js
  src/Repertus_Packstation/web/template/form/repertus_address_type_fieldset.html
  src/bundle.scss
  src/components/repertus-packstation/_repertus-packstation.scss
  yarn.lock
Due: stylelint --fix, prettier --write, tslint --fix

Fix small bugs in wishlist and search
  src/Magento_Catalog/templates/addtocart/button.phtml
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
  src/components/field/field.scss
  src/components/qty-increment/qty-increment.scss
  src/entries/customer.ts
Due: stylelint --fix, prettier --write, tslint --fix

Add cache key to prevent offcanvas caching
  src/components/offcanvas-navigation/offcanvas-navigation.ts
Due: prettier --write, tslint --fix

Move all calendar styles into magesuite styles
  src/Magento_Theme/layout/default_head_blocks.xml
  src/components/calendar/calendar.scss
Due: stylelint --fix

Extended variables in autocomplete
  src/components/autocomplete/autocomplete.scss
Due: stylelint --fix

Fix typo in add to cart button template
  src/Magento_Catalog/templates/addtocart/button.phtml
Due: none

Adjust templates for wishlist
  src/Magento_Catalog/templates/product/view/addto/compare.phtml
  src/Magento_Checkout/templates/cart/item/renderer/actions/remove.phtml
  src/Magento_Customer/templates/account/link/authorization.phtml
  src/Magento_Customer/templates/account/link/logout.phtml
  src/Magento_Directory/templates/currency.phtml
  src/Magento_Store/templates/switch/languages.phtml
  src/Magento_Wishlist/templates/catalog/product/view/addto/wishlist.phtml
  src/components/dashboard/dashboard.scss
  src/components/product-tile/product-tile.scss
  src/requirejs-config.js
  src/web/js/uenc-updater.js
Due: stylelint --fix, prettier --write, tslint --fix

Fix prices styling in autosuggest
  src/components/autocomplete/autocomplete.scss
Due: stylelint --fix

Additional modifiers for navigation flyout / mega dropdown nav
  src/MageSuite_Navigation/templates/main/flyout.phtml
Due: none

Calculate label padding on buttons depends on units
  src/components/button/mixin.scss
Due: stylelint --fix

Refactor badges - bugfixes
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
  src/components/autocomplete/autocomplete.scss
  src/components/badge/mixin.scss
  src/components/header/search/search.scss
  src/components/product-tile/product-tile.scss
  src/pages/product/product.scss
Due: stylelint --fix, prettier --write, tslint --fix

Simplified css specificity for prices in search autocomplete
  src/components/autocomplete/autocomplete.scss
Due: stylelint --fix

Adjust toolbar
  src/components/toolbar/mixins.scss
  src/components/toolbar/toolbar.scss
Due: stylelint --fix

Fix stickness for summary in cart
  src/Magento_Checkout/layout/checkout_cart_index.xml
  src/components/container/container.scss
  src/pages/cart/cart.scss
Due: stylelint --fix

adjust the width of the invisible native sorter
  src/components/toolbar/sorter.scss
Due: stylelint --fix

add styling to ua repertus packstation button
  src/Repertus_Packstation/index.ts
  src/Repertus_Packstation/web/css/repertus-packstation.scss
  src/components/button/button.scss
  src/components/checkout/checkout.scss
  src/entries/checkout.ts
  src/entries/customer.ts
Due: stylelint --fix, prettier --write, tslint --fix

Basic styling to take login or guest extension into account
  src/MageSuite_LoginOrGuestCheckoutStep/index.ts
  src/MageSuite_LoginOrGuestCheckoutStep/web/css/login-or-guest.scss
  src/Magento_Checkout/web/template/sidebar.html
  src/entries/checkout.ts
Due: stylelint --fix, prettier --write, tslint --fix

Adjust checkout styling
  src/components/address-autofill/address-autofill.ts
  src/components/checkout/checkout.scss
  src/components/modal/modal.scss
Due: stylelint --fix, prettier --write, tslint --fix

Fixes for checkout guest module
  src/MageSuite_LoginOrGuestCheckoutStep/web/css/login-or-guest.scss
Due: stylelint --fix

[Category Page Layout - Bugfix] Fixes wrapping products column into next line in Safari browsers
  src/pages/layout/2columns-left/mixin.scss
Due: stylelint --fix
