Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

.lintstagedrc:

{
  "src/**/*.{css,scss}": ["stylelint --fix", "git add"],
  "src/**/*.{ts,js}": [
      "prettier --write",
      "tslint --fix",
      "git add"
  ],
}

fix user area review details score label rendering issues
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Fix expected delivery styling and script compatibility
  src/components/indicators/expected-delivery.scss
  src/components/indicators/expected-delivery.ts
Due: stylelint --fix, prettier --write, tslint --fix

adjust reviews styling for ie11 compatibility
  src/components/reviews/reviews.scss
Due: stylelint --fix

fix header width bug that occurs on vertical tablet resolutions
  src/components/header/header.scss
Due: stylelint --fix

Add styling for success page registration form
  src/pages/success/success.scss
Due: stylelint --fix

Fix switcher width
  src/components/topbar/topbar.scss
Due: stylelint --fix

Add placeholder for exp delivery date PDP
  src/MageSuite_ProductPositiveIndicators/templates/expecteddelivery/product.phtml
  src/components/indicators/expected-delivery.scss
  src/components/indicators/expected-delivery.ts
Due: stylelint --fix, prettier --write, tslint --fix

Make label centered with checkbox
  src/components/checkout/checkout.scss
Due: stylelint --fix

Style lists
  src/components/typography/hook.scss
  src/components/typography/mixin.scss
  src/components/typography/typography.scss
Due: stylelint --fix

Add hidden labels to minicart actions
  src/Magento_Checkout/web/template/minicart/item/default.html
  src/components/minicart-product/minicart-product.scss
Due: stylelint --fix

Adjust styles for top attribute badge
  src/components/badge/mixin.scss
  src/components/product-details/additional/additional.scss
Due: stylelint --fix

[P2G-472] Adds additional adjustments for dark background scenario
  src/Aheadworks_RewardPoints/templates/html/pager.phtml
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Fix slider styling
  src/components/slider/slider.scss
Due: stylelint --fix

Style price and item quantity in table of orders: same font size, line height
  src/components/table/table.scss
Due: stylelint --fix

Nkd 268 removing side bar from print order side
  src/Magento_Sales/layout/sales_order_print.xml
  src/Magento_Theme/layout/print.xml
  src/components/side-nav/side-nav.scss
  src/components/stack-nav/stack-nav.scss
Due: stylelint --fix

Change font size of table footer
  src/components/table/table.scss
Due: stylelint --fix

Add class based on attribute name to every filter
  src/Smile_ElasticsuiteCatalog/templates/layer/view.phtml
Due: none

Adjust styling for checkout
  src/MageSuite_ContentConstructorFrontend/layout/default.xml
  src/MageSuite_LoginOrGuestCheckoutStep/web/css/login-or-guest.scss
  src/components/checkout/checkout.scss
  src/components/indicators/expected-delivery.scss
  src/components/progress-bar/progress-bar.scss
  src/pages/success/success.scss
Due: stylelint --fix

Make bigger padding between Login section and New users section. Mobiles (nkd-272)
  src/components/dashboard/dashboard.scss
Due: stylelint --fix

Fix incorrect XML
  src/MageSuite_ContentConstructorFrontend/layout/default.xml
Due: none

Make it possible to define number of columns in flyout per breakpoint
  src/components/navigation/navigation-mega-dropdown.ts
  src/components/navigation/navigation.ts
Due: prettier --write, tslint --fix

Add display=swap for google fonts
  src/Magento_Theme/layout/default.xml
Due: none

Fix footer usps container
  src/MageSuite_ContentConstructorFrontend/layout/default.xml
Due: none

Make padding bottom of first input wider - new address form
  src/components/dashboard/dashboard.scss
  src/components/field/field.scss
  src/components/toolbar/toolbar.scss
Due: stylelint --fix

Add html tag to footer usps cotainer
  src/MageSuite_ContentConstructorFrontend/layout/default.xml
Due: none

Update lazySizes, fix products carousel overflow handling
  .lintstagedrc
  src/components/products-carousel/products-carousel.ts
  src/web/js/vendor/lazySizes.js
Due: prettier --write, tslint --fix

Fix visual issues across the shop
  src/components/bundle-box/bundle-box.scss
  src/components/checkout/checkout.scss
  src/components/image-teaser/image-teaser.scss
  src/components/teaser/mixins.scss
Due: stylelint --fix

Move buttons for confirmation modal one below another on smallest mobile
  src/components/modal/modal.scss
Due: stylelint --fix

Update creativeshop to 4.47.2 and creative-patterns to 2.31.0
  package.json
  src/composer.json
  yarn.lock
Due: none

Make footer headline set in xml visible
  src/Magento_Theme/templates/footer/section.phtml
Due: none

add promise and position sticky polyfill
  src/Magento_Theme/layout/default_head_blocks.xml
  src/components/dashboard/index.ts
  src/web/js/vendor/promisePolyfill.js
Due: prettier --write, tslint --fix

modify promise polyfill
  src/web/js/vendor/promisePolyfill.js
Due: prettier --write, tslint --fix

Added variables for icon background and fill
  src/components/daily-deal-teaser/daily-deal-teaser.scss
Due: stylelint --fix

Style attributes in checkout as buttons. Remove pencil icon
  src/Magento_Checkout/layout/checkout_cart_item_renderers.xml
  src/Magento_Checkout/templates/cart/item/default.phtml
Due: none

Toolbar and checkout ie11 bugfixing
  src/components/checkout/checkout.scss
  src/components/discount/discount.scss
  src/components/toolbar/limiter.scss
  src/components/toolbar/pagination.scss
Due: stylelint --fix

Add missing payone_paypal logo
  src/components/checkout/checkout.scss
Due: stylelint --fix

Add missing default flags in brand-carousel
  src/components/brand-carousel/brand-carousel.scss
Due: stylelint --fix

Corrected flex for reviews container
  src/components/reviews/reviews.scss
Due: stylelint --fix

[P2G-569] Fixes checkout street input autosggest visibility
  src/components/select/select.scss
Due: stylelint --fix

Overwritten aheadworks product question templates for customer account page. Added data-th attributes to table cells, to display labels properly on tablet/mobiles
  src/Aheadworks_Pquestion/templates/customer/answer/grid.phtml
  src/Aheadworks_Pquestion/templates/customer/question/grid.phtml
Due: none
