Repository magesuite/theme-creativeshop: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, tslint --fix

Corrected template
  src/Magento_Review/templates/form.phtml
Due: none

Add icon for product-stock-subscription button
  src/MageSuite_BackInStock/layout/catalog_product_view.xml
  src/MageSuite_BackInStock/web/css/product-stock-subscription.scss
  src/components/buybox/buybox.scss
  src/web/images/icons/stock/back-in-stock.svg
Due: stylelint --fix

Add custom container class for USPs
  src/MageSuite_ContentConstructorFrontend/layout/default.xml
Due: none

Fix tile image lazy loading and gallery
  src/MageSuite_Navigation/templates/main/featured-products.phtml
  src/Magento_Catalog/templates/product/list.phtml
  src/Magento_Wishlist/templates/bottom.phtml
  src/components/tile-gallery/tile-gallery.ts
  yarn.lock
Due: prettier --write, tslint --fix

Adjust lazyloading param
  src/Magento_Catalog/templates/product/view/addtocart.phtml
  src/Magento_Checkout/templates/cart/item/configure/updatecart.phtml
  src/Smile_ElasticsuiteCore/templates/search/form.mini.phtml
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
  src/components/buybox/buybox.scss
  src/components/header/search/search.scss
  src/components/swatches/swatches.scss
  src/etc/view.xml
Due: stylelint --fix, prettier --write, tslint --fix

Changed <?php echo to <=
  src/Aheadworks_Pquestion/templates/answer/form.phtml
  src/Aheadworks_Pquestion/templates/catalog/product/view/list.phtml
  src/Magento_Review/templates/helper/summary.phtml
Due: none

Fix cart product edit page, adjust search autocomplete styling
  src/Magento_Checkout/layout/checkout_cart_configure.xml
  src/Magento_Checkout/layout/checkout_cart_configure_type_bundle.xml
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
  src/components/header/search/search.scss
Due: stylelint --fix, prettier --write, tslint --fix

Corrected next answer button
  src/Aheadworks_Pquestion/templates/catalog/product/view/list.phtml
Due: none

Add zipcode and city to autofill query. Make timeout for typing smaller
  src/components/address-autofill/address-autofill.ts
Due: prettier --write, tslint --fix

Bump version to 4.46.12
  package.json
  src/composer.json
Due: none

Bump version to 4.46.13
  package.json
  src/composer.json
Due: none

Removed var_dump from template
  src/Magento_Catalog/templates/product/view/main.phtml
Due: none

[P2G-324] Fixes category filter alignment in aftersearch-nav
  src/Smile_ElasticsuiteCatalog/templates/layer/filter/default.phtml
Due: none

[Offcanvas] Added e.preventDefault() to trigger to allow link to be a trigger
  src/components/offcanvas/offcanvas.ts
Due: prettier --write, tslint --fix

Fix hero opacity styling and cart configure for different product types
  src/Magento_Checkout/layout/checkout_cart_configure_type_configurable.xml
  src/components/hero/hero.scss
Due: stylelint --fix

[P2G-56] Fixes visibility setting for carousel navigation
  src/components/usps/usps.scss
Due: stylelint --fix

[Navigation] Flyout improvements:
  src/MageSuite_Navigation/templates/main/bar.phtml
  src/MageSuite_Navigation/templates/main/flyout.phtml
  src/components/navigation/navigation.ts
Due: prettier --write, tslint --fix

Hotfix category page pagination
  src/Magento_Catalog/templates/product/list/toolbar/limiter.phtml
  src/Magento_Theme/templates/html/pager.phtml
  src/components/toolbar/limiter.scss
  src/components/toolbar/toolbar.scss
Due: stylelint --fix

Star reviews multiple ratings
  src/Magento_Review/templates/customer/list.phtml
  src/Magento_Review/templates/form.phtml
  src/Magento_Review/templates/product/view/list-item.phtml
  src/Magento_Review/templates/product/view/list.phtml
  src/Magento_Review/templates/summary.phtml
  src/components/review/review.scss
  src/components/reviews-summary/reviews-summary.scss
  src/components/reviews/reviews.scss
  src/components/reviews/reviews.ts
  src/components/star-rating/star-rating.scss
  src/config/colors.scss
  src/config/variables.scss
Due: stylelint --fix, prettier --write, tslint --fix

Updates method name in positive indicators - only x available
  src/MageSuite_ProductPositiveIndicators/templates/onlyxavailable/product.phtml
Due: none

Corrected reviews and product questions
  src/Aheadworks_Pquestion/templates/catalog/product/view/list.phtml
  src/Aheadworks_Pquestion/templates/question/form.phtml
  src/Aheadworks_Pquestion/web/css/product-questions.scss
  src/components/product-details/product-details.scss
  src/components/reviews/reviews.scss
Due: stylelint --fix

yarn.lock update
  yarn.lock
Due: none

Fix icon action colors in minicart
  src/components/minicart-product/minicart-product.scss
Due: stylelint --fix

Fix style bugs
  src/components/checkout/checkout.scss
Due: stylelint --fix

Fix issues with search box styling
  src/Smile_ElasticsuiteCore/web/js/form-mini-ext.js
  src/components/autocomplete/autocomplete.scss
  src/components/header/search/search.scss
  src/components/tabs/tabs.scss
Due: stylelint --fix, prettier --write, tslint --fix

Fix table headline
  src/components/table/table.scss
Due: stylelint --fix

Fixed pdp backgrounds, removed styles restored by mistake
  src/components/container/container.scss
  src/components/product-details/product-details.scss
  src/components/reviews/reviews.scss
Due: stylelint --fix

Aligned review form
  src/components/reviews/reviews.scss
Due: stylelint --fix

Fix product carousels on PDP, adjust SVG icons loading
  src/Magento_Catalog/layout/catalog_product_view.xml
  src/Magento_Directory/layout/default.xml
  src/Magento_Directory/templates/currency.phtml
  src/Magento_Store/templates/switch/languages.phtml
  src/Magento_Theme/layout/default.xml
  src/Smile_ElasticsuiteCore/layout/default.xml
  src/etc/view.xml
Due: none

Fix cookie message icon
  src/Magento_Cookie/layout/default.xml
Due: none

Fixed linter and small adjustments
  src/Aheadworks_Pquestion/web/css/product-questions.scss
  src/components/reviews-summary/reviews-summary.scss
  src/components/reviews/reviews.scss
Due: stylelint --fix

Fix indicators icon color + set customize button settings
  src/components/buybox/buybox.scss
  src/components/indicators/mixins.scss
Due: stylelint --fix

Fixed next day name typo
  src/MageSuite_ProductPositiveIndicators/templates/expecteddelivery/product.phtml
Due: none

[Hotfix - Footer socials] Fixed removing socials in child theme and added instruction
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/templates/social-media-list.phtml
Due: none

Update builder to newer version with cache and sourcemaps support
  .gitignore
  yarn.lock
Due: none

Performance improvements for SVGs and fonts loading
  src/Magento_Theme/layout/default.xml
  src/Magento_Theme/layout/default_head_blocks.xml
  src/Magento_Theme/templates/head/fonts.phtml
  src/Magento_Theme/templates/html/defer.phtml
  src/components/button/button.twig
  src/components/category-links/category-links.twig
  yarn.lock
Due: none

Added skew variable instead static number
  src/components/addtocart/addtocart.scss
Due: stylelint --fix

Added entry and asset for contact page
  src/Magento_Contact/layout/contact_index_index.xml
  src/entries/contact.ts
Due: prettier --write, tslint --fix

add scenario with full label for option - buybox
  src/components/swatches/swatches.scss
Due: stylelint --fix

Refactor fast shipping indicator
  src/Magento_Catalog/templates/product/view/addtocart.phtml
  src/bundle.ts
  src/components/address-autofill/address-autofill.ts
  src/customizations/indicators/fast-shipping-init.ts
  src/customizations/indicators/fast-shipping.ts
Due: prettier --write, tslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{ts,js}
  tslint --fix: any of: src/**/*.{ts,js}
